<ul class="page-list list">
    <li
        class="
            page-list-item
            list-item
        "
    >
        <div class="unit-spacer spacer"></div>
        <a
            class="
                page-list-item-link
                link
            "

            href="#"
        >
            <h5>point</h5>
        </a>
        <div class="unit-spacer spacer"></div>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <div class="unit-spacer spacer"></div>
        <a
            class="
                page-list-item-link
                link
            "

            href="#"
        >
            <h5>product</h5>
        </a>
        <div class="unit-spacer spacer"></div>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <div class="unit-spacer spacer"></div>
        <a
            class="
                page-list-item-link
                link
            "

            href="#"
        >
            <h5>progress</h5>
        </a>
        <div class="unit-spacer spacer"></div>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <div class="unit-spacer spacer"></div>
        <a
            class="
                page-list-item-link
                link
            "

            href="#"
        >
            <h5>poison</h5>
        </a>
        <div class="unit-spacer spacer"></div>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <div class="unit-spacer spacer"></div>
        <a
            class="
                page-list-item-link
                link
            "

            href="#"
        >
            <h5>power</h5>
        </a>
        <div class="unit-spacer spacer"></div>
    </li>
</ul>
