<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="list">
            <li class="item">
                <span class="icon">
                    <svg class="icon" role="img" aria-label="feather icon">
                        <use href="/assets/images/feather-sprite.svg#feather" />
                    </svg>
                </span>
                <dl class="content">
                    <dt class="label">Name</dt>
                    <dd class="value">Richeve Bebedor</dd>
                </dl>
                <div class="spacer"></div>
            </li>
        </ol>
        <div class="item spacer"></div>
    </main>
</section>

