{
    auto_https off
    admin off

    log {
        output file logs/access.log {
            roll_size 50MB
            roll_keep 10
            roll_keep_for 720h
        }
        output stdout
        format console
        level INFO
    }
}

http://localhost:9630 {
    log {
        output file logs/error.log {
            roll_size 50MB
            roll_keep 10
            roll_keep_for 720h
        }
        output stderr
        format console
        level ERROR
    }

    handle_path /assets/images/* {
        reverse_proxy localhost:5173
    }

    handle_path /service/component/products* {
        reverse_proxy localhost:6039
    }

    handle_path /service/data/products* {
        reverse_proxy localhost:4979
    }

    reverse_proxy localhost:3690
}
