.concise-component .bar {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    height: auto;
    min-height: var(--concise-unit-base);
}

.concise-component .sidebar {
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;

    width: auto;
    min-width: var(--concise-unit-base);
}
