.concise-component img.picture {
    width: var(--concise-picture-size-base);
    min-width: var(--concise-picture-size-base);
    max-width: var(--concise-picture-size-base);

    height: var(--concise-picture-size-base);
    min-height: var(--concise-picture-size-base);
    max-height: var(--concise-picture-size-base);
}

.concise-component img.profile-picture.picture {
    width: var(--concise-picture-profile-size);
    min-width: var(--concise-picture-profile-size);
    max-width: var(--concise-picture-profile-size);

    height: var(--concise-picture-profile-size);
    min-height: var(--concise-picture-profile-size);
    max-height: var(--concise-picture-profile-size);
}

.concise-component img.thumbnail-picture.picture {
    width: var(--concise-picture-thumbnail-size);
    min-width: var(--concise-picture-thumbnail-size);
    max-width: var(--concise-picture-thumbnail-size);

    height: var(--concise-picture-thumbnail-size);
    min-height: var(--concise-picture-thumbnail-size);
    max-height: var(--concise-picture-thumbnail-size);
}
