<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item">
                <h1 class="main-content content">
                    content tree
                </h1>
            </li>
            <li class="content-tree-item item">
                <p class="content">
                    content trees are containers of meaningful data
                </p>
            </li>
            <li class="item spacer"></li>
            <li class="content-tree-item item">
                <h2 class="main-content content">
                    focus tree
                </h2>
            </li>
            <li class="content-tree-item item">
                <p class="content">
                    focus trees are containers of focused data
                </p>
            </li>
            <li class="item spacer"></li>
            <li class="content-tree-item item">
                <article class="focus-content content focus-tree tree list">
                    <header class="focus-tree-header item">
                        <h3 class="content">sample focus tree</h3>
                    </header>
                    <div class="one-third-space item spacer"></div>
                    <section class="focus-tree-content item level-2">
                        <p class="content">
                            this is a sample focus tree content.
                            the purpose of focus tree is to redirect
                            the attention of the viewer.
                        </p>
                    </section>
                    <div class="one-third-space item spacer"></div>
                    <footer class="focus-tree-footer item">
                        <button class="focus-action control content" aria-label="open panel">
                            focus on me
                        </button>
                    </footer>
                </article>
            </li>
        </ol>
    </main>
</section>
