<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item level-5">
                <a class="icon-link link"
                    href="https://github.com/volkovasystem/volkova.github.io"
                    target="_blank"
                    rel="noopener"
                    aria-label="Go to volkova.github.io Repository">
                    <svg class="icon">
                        <use href="/assets/images/feather-sprite.svg#github" />
                    </svg>
                </a>
                <img class="content profile-picture picture image"
                    src="/assets/images/volkova-system.profile-picture.png"
                    alt="Volkova System Profile Picture"
                    aria-label="Volkova System Profile Picture"
                />
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space item spacer"></li>
            <li class="content-tree-item item level-2">
                <div class="spacer"></div>
                <h1 class="main-content content">volkova system</h1>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space item spacer"></li>
            <li class="content-tree-item item level-3">
                <div class="spacer"></div>
                <p class="content">
                    Distributed shadow information system
                    with the purpose of reconstructing <br/>
                    The Da'at [הדעת]
                </p>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space item spacer"></li>
            <li class="content-tree-item item">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <a class="icon-link link"
                    href="https://github.com/volkovasystem/volkova"
                    target="_blank"
                    rel="noopener"
                    aria-label="Go to Volkova System Repository">
                    <svg class="grayscale-logo inverted-logo logo-icon icon"
                        viewBox="0 0 900 900"
                        preserveAspectRatio="xMidYMid meet"
                        role="img"
                        aria-label="volkovasystems logo">
                        <use href="/assets/images/vs.grayscale.logo.svg#vs-logo" />
                    </svg>
                </a>

                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
