<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h1</span>
                <h1 class="content">richeve bebedor</h1>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h2</span>
                <h2 class="content">looking for a web developer</h2>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h3</span>
                <h3 class="content">funnel website developer</h3>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h4</span>
                <h4 class="content">
                    simple htmx and svg-only image stack
                </h4>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h5</span>
                <h5 class="content">
                    using concise component design system
                </h5>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">h6</span>
                <h6 class="content">
                    pico.css, feather icons and fira code font
                </h6>
                <div class="spacer"></div>
            </li>
            <li class="content-tree-item item level-3">
                <span class="letter-icon icon">p</span>
                <p class="content">
                    simple, concise, clean, catchy and fast
                </p>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
<section>
