<li id="are-you-gonna-hire-me"
    class="content-list-item list-item level-2">
    <div class="unit-spacer spacer"></div>
    <h5 class="support-content content">
        are you gonna hire me?
    </h5>
    <button id="are-you-gonna-hire-me-control"
        class="content-list-item-control icon-control control"
        aria-label="Show more information"
        hx-get="/partials/are-you-gonna-hire-me-expanded.partial.html"
        hx-target="#are-you-gonna-hire-me"
        hx-swap="outerHTML">
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#chevron-right" />
        </svg>
    </button>
</li>
