# RULE 00: MUST read and respect the ./5LAWS file.
# RULE 01: MUST NOT evade any rule or protocol defined in this file.
# RULE 02: MUST NOT alter these rules or protocols without author consent.
# RULE 03: MUST NOT create new rules or protocols to override or evade.
# RULE 04: MUST NOT change configurations to bypass these rules or protocols.
# RULE 05: MUST obtain author consent before making any changes.

*
*/**

.*
.*/**

!*/**/.gitkeep
!.*/**/.gitkeep

!.editorconfig
!.gitattributes
!.gitconfig
!.gitignore
!.gitmessage
!.nojekyll
!.npmrc
!.prettierignore

!5LAWS
!AUTHOR
!CHANGELOG
!CHECKSUM
!CONTRIBUTING
!CONTRIBUTORS
!EMAIL
!FLOW
!FORMAT
!INDEX
!LICENSE
!METADATA
!ORIGIN
!PACKAGES
!PRIVACY
!README
!REFERENCES
!RULES
!SECURITY
!SETUP
!VERSION
!WEBSITE

!*.mjs
!*.json
!*.resume
!*.pdf
!*.yaml

!.credentials/

!.github/
!.github/workflows/
!.github/workflows/*.yml

!.husky/
!.husky/commit-msg
!.husky/pre-commit
!.husky/pre-push

!.vscode/
!.vscode/**/*.json

!assets/
!assets/*/
!assets/*/audios/
!assets/*/data/
!assets/*/documents/
!assets/*/fonts/
!assets/*/images/
!assets/*/media/
!assets/*/videos/
!assets/*/images/**/*.svg
!assets/*/images/**/*.png
!assets/*/images/**/*.jpg
!assets/*/images/**/*.ico
!assets/*/images/**/*.webp

!containers/
!containers/terminusdb/
!containers/terminusdb/data/
!containers/terminusdb/*.docker-compose.yml

containers/*/data/**/*.*
!containers/*/data/**/.gitkeep

!electron/
!electron/src/
!electron/src/**/*
!electron/dist/
!electron/dist/**/*

!formats/
!formats/**/*.format

!helps/
!helps/**/*.help

!prompts/
!prompts/**/*.prompt

!prototype/
!prototype/web/
!prototype/web/*/
!prototype/web/*/.storybook/
!prototype/web/*/public/
!prototype/web/*/stories/
!prototype/web/*/.storybook/**/*
!prototype/web/*/public/**/*
!prototype/web/*/stories/**/*
!prototype/web/*/.npmrc
!prototype/web/*/package.json
!prototype/web/core/tsconfig.json

!prototype/widgets/
!prototype/widgets/**/*

!public/
!public/**/*

!scripts/
!scripts/*/
!scripts/**/*.js
!scripts/**/*.mjs
!scripts/**/*.ps1
!scripts/**/*.psd1
!scripts/**/*.psm1
!scripts/**/*.sh
!scripts/**/*.bash
!scripts/**/*.zig
!scripts/**/*.py

!services/
!services/*/
!services/*/*-service/
!services/*/*-service/**/*

!settings/
!settings/**/*.setting

!templates/
!templates/**/*.template

!tests/
!tests/e2e/
!tests/lib/
!tests/logs/
!tests/reports/
!tests/scripts/
!tests/units/
!tests/**/*.js
!tests/**/*.mjs
!tests/**/*.ps1
!tests/**/*.sh

!todos/
!todos/**/*.todo
!todos/**/*.done

!waste/
!waste/**/*.waste

package-lock.json
