<li id="are-you-gonna-hire-me"
    class="content-tree-item item">
    <div class="spacer"></div>
    <h5 class="support-content content">
        why hire me?
    </h5>
    <button id="are-you-gonna-hire-me-control"
        class="icon-control control"
        aria-label="Show more information"
        hx-get="/partials/why-hire-me.expanded.partial.html"
        hx-target="#are-you-gonna-hire-me"
        hx-swap="outerHTML">
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#chevron-right" />
        </svg>
    </button>
</li>
