<li id="are-you-gonna-hire-me"
    class="content-item item level-5">
    <article class="focus-list list">
        <header class="focus-header item level-2">
            <span class="content-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#sun" />
                </svg>
            </span>
            <h5 class="support-content content">
                are you gonna hire me?
            </h5>
            <button id="are-you-gonna-hire-me-control"
                class="icon-control control"
                aria-label="Show more information"
                hx-get="/partials/are-you-gonna-hire-me-collapsed.partial.html"
                hx-target="#are-you-gonna-hire-me"
                hx-swap="outerHTML">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#chevron-down" />
                </svg>
            </button>
        </header>
        <div class="item spacer"></div>
        <footer class="focus-footer item">
            <div class="spacer"></div>
            <button class="focus-control control" aria-label="Hire me">
                <h4>HIRE ME</h4>
            </button>
            <div class="spacer spacer"></div>
        </footer>
        <div class="item spacer"></div>
    </article>
</li>
