<nav>
    <ul class="page-tree-list list">
        <li class="page-tree-item item">
            <span class="page-list-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#moon" />
                </svg>
            </span>
            <a class="page-list-item-link link"
                href="#"
                aria-label="Know me better">
                <h5>point</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="page-tree-item item">
            <span class="page-list-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#sun" />
                </svg>
            </span>
            <a class="page-list-item-link link"
                href="#"
                aria-label="Explore my capabilities">
                <h5>product</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="page-tree-item list-item">
            <span class="page-list-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#layers" />
                </svg>
            </span>
            <a class="page-list-item-link link"
                href="#"
                aria-label="Check my projects">
                <h5>progress</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="page-tree-item list-item">
            <span class="page-list-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#gift" />
                </svg>
            </span>
            <a class="page-list-item-link link"
                href="#"
                aria-label="Be aware of my ideas">
                <h5>poison</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="page-tree-item list-item">
            <span class="page-list-item-icon icon">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#coffee" />
                </svg>
            </span>
            <a class="page-list-item-link link"
                href="#"
                aria-label="Avail my services">
                <h5>power</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="item spacer"></li>
        <li class="page-tree-item item">
            <a class="icon-link link"
                href="https://github.com/volkovasystems"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Github Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#github" />
                </svg>
            </a>
            <a class="icon-link link"
                href="#"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Facebook Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#facebook" />
                </svg>
            </a>
            <a class="icon-link link"
                href="#"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Twitter Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#twitter" />
                </svg>
            </a>
            <a class="icon-link link"
                href="#"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Youtube Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#youtube" />
                </svg>
            </a>
            <a class="icon-link link"
                href="#"
                target="_blank"
                rel="noopener"
                aria-label="Go to my RSS">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#rss" />
                </svg>
            </a>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </li>
    </ul>
</nav>
