<main class="content-tree list">
    <ol class="content-tree-list list">
        <li class="item spacer"></li>
        <li class="content-tree-item item level-5">
            <a class="icon-link link"
                href="https://github.com/bebedor-richeve/richeve-bebedor.github.io"
                target="_blank"
                rel="noopener"
                aria-label="Go to richeve-bebedor.github.io Portfolio Repository">
                <svg class="logo-icon icon"
                    viewBox="0 0 900 900"
                    preserveAspectRatio="xMidYMid meet"
                    role="img"
                    aria-label="volkovasystems logo">
                    <use href="/assets/images/vs.logo.svg#vs-logo" />
                </svg>
            </a>
            <img class="content profile-picture picture image"
                src="/assets/images/richeve-bebedor.profile-picture.png"
                alt="Richeve Bebedor Profile Picture"
                aria-label="Richeve Bebedor Profile Picture"
            />
            <div class="spacer"></div>
        </li>
        <li class="one-fifth-space item spacer"></li>
        <li class="content-tree-item item level-2">
            <div class="spacer"></div>
            <h1 class="main-content content">richeve bebedor</h1>
            <div class="spacer"></div>
        </li>
        <li class="one-fifth-space item spacer"></li>
        <li class="content-tree-item item level-3">
            <div class="spacer"></div>
            <p class="content"
                hx-get="/contents/richeve-bebedor-introduction.content.html"
                hx-trigger="load"
                hx-swap="innerHTML">
            </p>
            <div class="spacer"></div>
        </li>
        <li class="one-fifth-space item spacer"></li>
        <li class="content-tree-item item">
            <div class="spacer"></div>
            <a class="icon-link link"
                href="https://github.com/volkovasystems"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Github Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#github" />
                </svg>
            </a>
            <a class="icon-link link"
                href="https://www.facebook.com/richeve.bebedor963"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Facebook Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#facebook" />
                </svg>
            </a>
            <a class="icon-link link"
                href="https://x.com/richeve_bebedor"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Twitter Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#twitter" />
                </svg>
            </a>
            <a class="icon-link link"
                href="https://www.youtube.com/@richevebebedor"
                target="_blank"
                rel="noopener"
                aria-label="Go to my Youtube Profile">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#youtube" />
                </svg>
            </a>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </li>
        <!--li hx-get="/partials/why-hire-me.collapsed.partial.html"
            hx-trigger="load"
            hx-swap="outerHTML">
        </li-->
    </ol>
</main>
