.concise-component svg.icon:not(svg.logo) {
    width: var(--concise-icon-size);
    min-width: var(--concise-icon-size);
    max-width: var(--concise-icon-size);

    height: var(--concise-icon-size);
    min-height: var(--concise-icon-size);
    max-height: var(--concise-icon-size);

    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    fill: none;
}

.concise-component a.icon,
.concise-component span.icon {
    height: var(--concise-unit-base);
    min-height: var(--concise-unit-base);
    max-height: var(--concise-unit-base);

    width: var(--concise-unit-base);
    min-width: var(--concise-unit-base);
    max-width: var(--concise-unit-base);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.concise-component a.letter-icon.icon,
.concise-component span.letter-icon.icon {
    font-size: var(--concise-letter-icon-size);
}

.concise-component a.color-icon.icon,
.concise-component span.color-icon.icon {
    background-color: var(--concise-color-orange-base);
}

.concise-component a.round-icon.shape-icon.icon,
.concise-component span.round-icon.shape-icon.icon {
    clip-path: circle(calc(50% - var(--concise-base-spacing)) at 50% 50%);
}

.concise-component a.square-icon.shape-icon.icon,
.concise-component span.square-icon.shape-icon.icon {
    clip-path: inset(var(--concise-base-spacing));
}
