<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item">
                <span class="background-indigo-base color-icon icon">
                </span>
                <h6 class="color-indigo-base content">Indigo Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-indigo-light color-icon icon">
                </span>
                <h6 class="color-indigo-light content">Indigo Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-indigo-lighter color-icon icon">
                </span>
                <h6 class="color-indigo-lighter content">Indigo Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-indigo-dark color-icon icon">
                </span>
                <h6 class="color-indigo-dark content">Indigo Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-indigo-darker color-icon icon">
                </span>
                <h6 class="color-indigo-darker content">Indigo Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
