{
    auto_https off
    admin off

    log {
        output file logs/access.log {
            roll_size 50MB
            roll_keep 10
            roll_keep_for 720h
        }

        format json
    }
}

http://localhost:5173 {
    handle_path /assets/images/* {
        root * "{$IMAGE_ASSETS_DIRECTORY_PATH}"
        try_files {path} /404.svg
        file_server
    }
}
