<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item">
                <span class="background-black-base color-icon icon">
                </span>
                <h6 class="color-black-base content">Black Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-black-light color-icon icon">
                </span>
                <h6 class="color-black-light content">Black Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-black-lighter color-icon icon">
                </span>
                <h6 class="color-black-lighter content">Black Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-black-dark color-icon icon">
                </span>
                <h6 class="color-black-dark content">Black Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing spacer"></li>
            <li class="content-tree-item item">
                <span class="background-black-darker color-icon icon">
                </span>
                <h6 class="color-black-darker content">Black Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
