<section class="page">
    <div class="sidebar"></div>
    <main class="content-tree list">
        <ol class="content-tree-list list">
            <li class="item spacer"></li>
            <li class="content-tree-item item">
                <span class="background-orange-base color-icon icon">
                </span>
                <h6 class="color-orange-base content">Orange Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-orange-light color-icon icon">
                </span>
                <h6 class="color-orange-light content">Orange Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-orange-lighter color-icon icon">
                </span>
                <h6 class="color-orange-lighter content">Orange Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-orange-dark color-icon icon">
                </span>
                <h6 class="color-orange-dark content">Orange Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-orange-darker color-icon icon">
                </span>
                <h6 class="color-orange-darker content">Orange Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
