<section class="page">
    <div class="sidebar"></div>
    <main class="content-tree list">
        <ol class="content-tree-list list">
            <li class="item spacer"></li>
            <li class="content-tree-item item">
                <span class="background-red-base color-icon icon">
                </span>
                <h6 class="color-red-base content">Red Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-red-light color-icon icon">
                </span>
                <h6 class="color-red-light content">Red Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-red-lighter color-icon icon">
                </span>
                <h6 class="color-red-lighter content">Red Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-red-dark color-icon icon">
                </span>
                <h6 class="color-red-dark content">Red Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-red-darker color-icon icon">
                </span>
                <h6 class="color-red-darker content">Red Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
