<header class="page-tree-header item">
    <span class="header-logo logo-icon icon">
        <svg class="logo-icon icon"
            viewBox="0 0 900 900"
            preserveAspectRatio="xMidYMid meet"
            role="img"
            aria-label="vs logo">
            <use href="/assets/images/vs.logo.svg#vs-logo" />
        </svg>
    </span>
    <a class="page-tree-link header-link link"
        href="/"
        title="volkovasystems"
        aria-label="volkovasystems">
        <h4>volkovasystems</h4>
    </a>
    <div class="spacer"></div>
</header>
