

:root,
:host {
    --concise-unit-base:        47px;
    --concise-icon-size:        19px;
    --concise-logo-size-base:   41px;
    --concise-letter-icon-size: 23px;

    --concise-equilateral-ratio: 0.8660254;
    --concise-base-division: calc(var(--concise-unit-base) / 5);
    --concise-base-spacing: calc(var(--concise-base-division) / 2);

    --concise-list-item-unit: 7;
    --concise-list-item-content-unit: 5;

    --concise-list-height: var(--concise-unit-base);
    --concise-list-width: calc(
        var(--concise-unit-base) * var(--concise-list-item-unit)
    );

    --concise-list-item-height: var(--concise-unit-base);
    --concise-list-item-width: calc(
        var(--concise-unit-base) * var(--concise-list-item-unit)
    );

    --concise-list-item-content-height: var(--concise-list-item-height);
    --concise-list-item-content-width: calc(
        var(--concise-unit-base) * var(--concise-list-item-content-unit)
    );

    --concise-control-height: var(--concise-unit-base);
    --concise-control-width: calc(
        var(--concise-unit-base) * var(--concise-list-item-unit)
    );
    --concise-icon-control-height: var(--concise-unit-base);
    --concise-icon-control-width: var(--concise-unit-base);
}

@media (max-width: 331px) {
    :root,
    :host {
        --concise-unit-base:        43px;
        --concise-logo-size-base:   37px;
        --concise-text-heading-1:   31px;
        --concise-text-heading-2:   29px;
        --concise-text-heading-3:   23px;
        --concise-text-heading-4:   19px;
        --concise-icon-size:        17px;
        --concise-text-heading-5:   17px;
        --concise-text-heading-6:   13px;
        --concise-text-size-base:   13px;

        --concise-text-heading-1-line-height:   41px;
        --concise-text-heading-2-line-height:   37px;
        --concise-text-heading-3-line-height:   31px;
        --concise-text-heading-4-line-height:   29px;
        --concise-text-heading-5-line-height:   23px;
        --concise-text-heading-6-line-height:   19px;
        --concise-text-line-height:             17px;
    }
}

.concise-component {
    display: flex;
    flex-direction: row;
}

html:has(.concise-component),
body:has(.concise-component),
.concise-component {
    background: var(--concise-base-background-color);

    height: 100dvh;
    width: 100dvw;
}

.concise-component li.list-item,
.concise-component nav:has(> .page-list),
.concise-component ol.list,
.concise-component ul.list,
.concise-component,
.concise-component * {
    color: var(--concise-text-color-base);
    font-family: var(--concise-text-font-family);
    font-variant-ligatures: contextual;
    font-weight: normal;
    font-size: var(--concise-text-size-base);
    line-height: var(--concise-text-line-height);
    text-decoration: none;

    border: none;
    border-radius: 0;
    box-sizing: border-box;

    box-shadow: none;
    outline: none;
    text-shadow: none;

    margin: 0;
    padding: 0;

    background: unset;
}

.concise-component .hidden {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -1 !important;
    opacity: 0 !important;
}
