<main class="content-tree list">
    <ol class="content-list list">
        <li class="list-item spacer"></li>
        <li class="content-list-item list-item level-2">
            <div class="unit-spacer spacer"></div>
            <h1 class="main-content content">
                richeve bebedor
            </h1>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="content-list-item list-item level-3">
            <div class="unit-spacer spacer"></div>
            <p class="content">
                open source developer <br/>
                with focus on
                efficient websites,
                concise web services,
                and automation tools
            </p>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="list-item spacer"></li>
        <li hx-get="/partials/are-you-gonna-hire-me-collapsed.partial.html"
            hx-trigger="load"
            hx-swap="outerHTML">
        </li>
        <li
            class="
                content-list-item
                list-item

                level-2
            "
        >
            <div class="unit-spacer spacer"></div>
            <h5 class="support-content content">
                are you stalking me?
            </h5>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                content-list-item
                list-item

                level-2
            "
        >
            <div class="unit-spacer spacer"></div>
            <h5 class="support-content content">
                wanna create a website?
            </h5>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                content-list-item
                list-item

                level-2
            "
        >
            <div class="unit-spacer spacer"></div>
            <h5 class="support-content content">
                have an app in mind?
            </h5>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                content-list-item
                list-item

                level-2
            "
        >
            <div class="unit-spacer spacer"></div>
            <h5 class="support-content content">
                looking to automate a flow?
            </h5>
            <div class="unit-spacer spacer"></div>
        </li>
    </ol>
</main>
