<li
    class="
        page-list-item
        list-item
    "
>
    <span
        class="
            page-list-item-icon
            icon
        "
    >
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#feather" />
        </svg>
    </span>
    <a
        class="
            page-list-item-link
            link
        "

        href="#"
    >
        <h5>point</h5>
    </a>
    <button
        class="
            page-list-item-control
            icon-control
            control
        "

        title="Show settings"
    >
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#more-vertical" />
        </svg>
    </button>
</li>
