<header
    class="
        page-tree-header
        list-item
    "
>
    <span
        class="
            header-logo-icon
            logo-icon
            icon
        "
    >
        <svg
            class="
                logo-icon
                icon
            "

            viewBox="0 0 900 900"
            preserveAspectRatio="xMidYMid meet"
            role="img"
            aria-label="vs"
        >
            <use href="/assets/images/vs.logo.svg#vs-logo" />
        </svg>
    </span>
    <a
        class="
            header-link
            link
        "

        href="#"
    >
        <h4>volkovasystems</h4>
    </a>
    <button
        class="
            header-control
            icon-control
            control
        "

        title="setting"
    >
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#more-vertical" />
        </svg>
    </button>
</header>
