.concise-component .list > .item .content {
    width: auto;
    min-width: var(--concise-list-item-content-width);

    height: auto;
    min-height: var(--concise-list-item-height);

    display: flex;
    flex-direction: column;

    padding-left: var(--concise-gap-normal);
    padding-right: var(--concise-gap-normal);
}

.concise-component .list > .item .content:has(.picture),
.concise-component .list > .item .content.picture {
    padding-left: 0;
    padding-right: 0;
}

.concise-component .list > .item:has(.content:only-child) > .content {
    min-width: var(--concise-list-item-width);
}

.concise-component .list > .item > .content:has(.value):has(.label),
.concise-component .list > .item > .content:has(.value),
.concise-component .list > .item > .content.value,
.concise-component .list > .item > .content:has(.label),
.concise-component .list > .item > .content.label {
    justify-content: center;
}

.concise-component .list > .item > .content:has(.description:only-child),
.concise-component .list > .item > .content.description {
    justify-content: flex-start;
}

.concise-component .list > .item .main-content.content {
    color: var(--concise-main-text-color);
}

.concise-component .list > .item .support-content.content {
    color: var(--concise-support-text-color);
}
