.concise-component aside.content-tree.list,
.concise-component main.content-tree.list
{
    width: var(--concise-list-width);
    min-width: var(--concise-list-width);
    max-width: var(--concise-list-width);

    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
}

.concise-component aside.content-tree > ul.content-tree-list.list,
.concise-component main.content-tree > ul.content-tree-list.list
.concise-component aside.content-tree > ol.content-tree-list.list,
.concise-component main.content-tree > ol.content-tree-list.list
{
    width: var(--concise-list-width);
    min-width: var(--concise-list-width);
    max-width: var(--concise-list-width);

    height: auto;

    overflow-y: auto;
}

.concise-component li.content-tree-item.item {
    flex-direction: row;
}

.concise-component .content-tree .picture.content {
    padding: 0;
}
