:root,
:host
{
    --concise-color-white-darker:   rgba(139, 127, 109, 1);
    --concise-color-white-dark:     rgba(173, 137, 113, 1);
    --concise-color-white-base:     rgba(211, 173, 149, 1);
    --concise-color-white-light:    rgba(241, 223, 199, 1);
    --concise-color-white-lighter:  rgba(251, 247, 241, 1);

    --concise-color-red-darker:     rgba(127, 11, 31, 1);
    --concise-color-red-dark:       rgba(149, 13, 37, 1);
    --concise-color-red-base:       rgba(173, 19, 43, 1);
    --concise-color-red-light:      rgba(223, 37, 61, 1);
    --concise-color-red-lighter:    rgba(239, 53, 79, 1);

    --concise-color-orange-darker:  rgba(151, 71, 17, 1);
    --concise-color-orange-dark:    rgba(181, 89, 19, 1);
    --concise-color-orange-base:    rgba(227, 101, 29, 1);
    --concise-color-orange-light:   rgba(239, 127, 37, 1);
    --concise-color-orange-lighter: rgba(251, 149, 53, 1);

    --concise-color-yellow-darker:  rgba(173, 131, 11, 1);
    --concise-color-yellow-dark:    rgba(197, 157, 13, 1);
    --concise-color-yellow-base:    rgba(223, 193, 17, 1);
    --concise-color-yellow-light:   rgba(239, 211, 29, 1);
    --concise-color-yellow-lighter: rgba(251, 227, 53, 1);

    --concise-color-green-darker:   rgba(13, 113, 41, 1);
    --concise-color-green-dark:     rgba(19, 137, 53, 1);
    --concise-color-green-base:     rgba(29, 163, 71, 1);
    --concise-color-green-light:    rgba(47, 199, 89, 1);
    --concise-color-green-lighter:  rgba(53, 197, 97, 1);

    --concise-color-blue-darker:    rgba(13, 71, 149, 1);
    --concise-color-blue-dark:      rgba(19, 97, 173, 1);
    --concise-color-blue-base:      rgba(29, 113, 197, 1);
    --concise-color-blue-light:     rgba(53, 149, 223, 1);
    --concise-color-blue-lighter:   rgba(67, 157, 215, 1);

    --concise-color-indigo-darker:  rgba(37, 13, 131, 1);
    --concise-color-indigo-dark:    rgba(47, 19, 149, 1);
    --concise-color-indigo-base:    rgba(59, 29, 173, 1);
    --concise-color-indigo-light:   rgba(89, 53, 211, 1);
    --concise-color-indigo-lighter: rgba(113, 79, 239, 1);

    --concise-color-violet-darker:  rgba(97, 13, 151, 1);
    --concise-color-violet-dark:    rgba(127, 19, 181, 1);
    --concise-color-violet-base:    rgba(149, 29, 211, 1);
    --concise-color-violet-light:   rgba(173, 53, 239, 1);
    --concise-color-violet-lighter: rgba(197, 79, 251, 1);

    --concise-color-black-darker:   rgba(2, 2, 2, 1);
    --concise-color-black-dark:     rgba(13, 13, 13, 1);
    --concise-color-black-base:     rgba(29, 29, 29, 1);
    --concise-color-black-light:    rgba(53, 53, 53, 1);
    --concise-color-black-lighter:  rgba(79, 79, 79, 1);

    --concise-color-background-base: var(--concise-color-black-base);
    --concise-text-color-base: var(--concise-color-white-base);

    --concise-main-text-color: var(--concise-color-white-lighter);
    --concise-support-text-color: var(--concise-color-white-light);
    --concise-specific-text-color: var(--concise-color-white-dark);

    --concise-action-focus-color: var(--concise-color-white-lighter);
    --concise-action-focus-background-color: var(--concise-color-orange-base);
    --concise-action-focus-hover-color: var(--concise-color-black-base);
    --concise-action-focus-hover-background-color: var(--concise-color-orange-light);
    --concise-action-focus-active-color: var(--concise-color-black-base);
    --concise-action-focus-active-background-color: var(--concise-color-orange-base);

    --concise-action-support-color: var(--concise-color-white-light);
    --concise-action-support-background-color: var(--concise-color-black-light);
    --concise-action-support-hover-color: var(--concise-color-white-light);
    --concise-action-support-hover-background-color: var(--concise-color-black-lighter);
    --concise-action-support-active-color: var(--concise-color-white-light);
    --concise-action-support-active-background-color: var(--concise-color-black-dark);

    --concise-action-other-color: var(--concise-color-white-dark);
    --concise-action-other-background-color: var(--concise-color-black-base);
    --concise-action-other-hover-color: var(--concise-color-white-dark);
    --concise-action-other-hover-background-color: var(--concise-color-black-light);
    --concise-action-other-active-color: var(--concise-color-white-dark);
    --concise-action-other-active-background-color: var(--concise-color-black-darker);
}
