.concise-component .value {
    letter-spacing: .3px;
}

.concise-component .subtitle.value {
    text-transform: uppercase;
}

.concise-component .currency-usd.currency.value::after {
    content: ' USD';
}

.concise-component .discount.value::after {
    content: '% off!';
}
