<section class="precise-component page">
    <div class="leftbar sidebar spacer"></div>
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="product-item picture-item content-tree-item item level-2">
                <img class="thumbnail-picture picture"
                    src="/assets/images/products/essence-mascara-lash-princess.webp"
                    alt="Essence Mascara Lash Princess product thumbnail picture">
                <div class="main-content content">
                    <data class="product-title title value"
                        value="Essence Mascara Lash Princess">
                        Essence Mascara Lash Princess
                    </data>
                    <data class="product-subtitle subtitle discount value"
                        value="5">
                        5
                    </data>
                </div>
            </li>
        </ol>
        <div class="item spacer"></div>
    </main>
    <div class="sidebar spacer"></div>
    <article class="focus-tree tree list">
        <div class="item spacer"></div>
        <ol class="product-card focus-tree-list list">
            <li class="card-item focus-tree-item item level-7">
                <img class="picture"
                    src="/assets/images/products/essence-mascara-lash-princess.webp"
                    alt="Essence Mascara Lash Princess product picture">
            </li>
            <li class="normal-spacing item spacer"></li>
            <li class="focus-tree-item item">
                <div class="spacer"></div>
                <data class="product-title title value main-content content"
                    value="Essence Mascara Lash Princess">
                    Essence Mascara Lash Princess
                </data>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing item spacer"></li>
            <li class="focus-tree-item item">
                <div class="spacer"></div>
                <data class="product-description value support-content content">
                    The Essence Mascara Lash Princess is a popular mascara known for
                    its volumizing and lengthening effects. Achieve dramatic lashes
                    with this long-lasting and cruelty-free formula.
                </data>
                <div class="spacer"></div>
            </li>
            <li class="normal-spacing item spacer"></li>
            <li class="focus-tree-item item">
                <div class="spacer"></div>
                <div class="content">
                    <data class="product-price currency-usd currency value"
                        value="9.99">
                        9.99
                    </data>
                    <data class="product-net-price currency-usd currency value"
                        value="9.49">
                        9.49
                    </data>
                </div>
                <div class="spacer"></div>
            </li>
        </ol>
        <div class="item spacer"></div>
    </article>
</section>
