.concise-component a.control,
.concise-component button.control
{
    height: var(--concise-control-height);
    min-height: var(--concise-control-height);
    max-height: var(--concise-control-height);

    width: var(--concise-control-width);
    min-width: var(--concise-control-width);
    max-width: var(--concise-control-width);

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;

    background-color: transparent;
    color: var(--concise-color-white-base);
}

.concise-component a.icon-control.control,
.concise-component button.icon-control.control
{
    height: var(--concise-icon-control-height);
    min-height: var(--concise-icon-control-height);
    max-height: var(--concise-icon-control-height);

    width: var(--concise-icon-control-width);
    min-width: var(--concise-icon-control-width);
    max-width: var(--concise-icon-control-width);
}

.concise-component a.control:hover,
.concise-component button.control:hover
{
    background-color: var(--concise-color-black-light);
}

.concise-component a.control:hover *,
.concise-component a.control:hover > *,
.concise-component button.control:hover *,
.concise-component button.control:hover > *
{
    color: var(--concise-color-white-light);
}

.concise-component a.control:active,
.concise-component button.control:active
{
    background-color: var(--concise-color-black-dark);
}

.concise-component a.control:active *,
.concise-component a.control:active > *,
.concise-component button.control:active *,
.concise-component button.control:active > *
{
    color: var(--concise-color-white-dark);
}


