.concise-component article.focus-tree.tree.list {
    width: var(--concise-list-width);
    min-width: var(--concise-list-width);
    max-width: var(--concise-list-width);

    min-height: calc(var(--concise-list-height) * 3);
    height: auto;

    background-color: var(--concise-color-black-dark);
}

.concise-component article.focus-tree > header.focus-tree-header.item {
    height: var(--concise-list-item-content-height);
    min-height: var(--concise-list-item-content-height);
    max-height: calc(var(--concise-list-item-content-height) * 3);

    flex-direction: row;
}

.concise-component article.focus-tree > footer.focus-tree-footer.item {
    width: var(--concise-list-item-width);
    min-width: var(--concise-list-item-width);
    max-width: var(--concise-list-item-width);

    height: var(--concise-list-item-height);
    min-height: var(--concise-list-item-height);
    max-height: var(--concise-list-item-height);

    display: flex;
    flex-direction: row;
}

.concise-component article.focus-tree > ul.focus-tree-list.list,
.concise-component article.focus-tree > ol.focus-tree-list.list {
    width: var(--concise-list-width);
    min-width: var(--concise-list-width);
    max-width: var(--concise-list-width);

    min-height: var(--concise-list-height);
    height: auto;
}

.concise-component li.focus-tree-item.item {
    display: flex;
    flex-direction: row;
}

.concise-component li.focus-tree-item .content {
    width: var(--concise-list-item-content-width);
    min-width: var(--concise-list-item-content-width);
    max-width: var(--concise-list-item-content-width);

    flex-direction: column;

    padding-left: var(--concise-base-spacing);
    padding-right: var(--concise-base-spacing);
}

.concise-component article.focus-tree .main-content.content {
    justify-content: center;

    color: var(--concise-main-text-color);
}

.concise-component article.focus-tree .support-content.content {
    justify-content: center;

    color: var(--concise-support-text-color);
}
