.concise-component .list {
    min-width: var(--concise-list-width);

    height: auto;
    min-height: var(--concise-list-height);

    display: flex;
    flex-direction: column;
}

.concise-component .list > .item {
    width: auto;
    min-width: var(--concise-list-item-width);

    height: auto;
    min-height: var(--concise-list-item-height);

    display: flex;
    flex-direction: row;
}

.concise-component .list > .item > .content {
    width: auto;
    min-width: var(--concise-list-item-content-width);

    height: auto;
    min-height: var(--concise-list-item-height);

    display: flex;
    flex-direction: column;
}

.concise-component .list > .item > .content:only-child {
    min-width: var(--concise-list-item-width);
}

.concise-component .list > .item > .content:has(label) {
    justify-content: center;
}
