<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item">
                <span class="background-violet-base color-icon icon">
                </span>
                <h6 class="color-violet-base content">Violet Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-violet-light color-icon icon">
                </span>
                <h6 class="color-violet-light content">Violet Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-violet-lighter color-icon icon">
                </span>
                <h6 class="color-violet-lighter content">Violet Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-violet-dark color-icon icon">
                </span>
                <h6 class="color-violet-dark content">Violet Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-violet-darker color-icon icon">
                </span>
                <h6 class="color-violet-darker content">Violet Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
