<section class="page">
    <div class="sidebar spacer"></div>
    <main class="content-tree tree list">
        <div class="item spacer"></div>
        <ol class="content-tree-list list">
            <li class="content-tree-item item">
                <span class="background-blue-base color-icon icon">
                </span>
                <h6 class="color-blue-base content">Blue Base</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-blue-light color-icon icon">
                </span>
                <h6 class="color-blue-light content">Blue Light</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-blue-lighter color-icon icon">
                </span>
                <h6 class="color-blue-lighter content">Blue Lighter</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-blue-dark color-icon icon">
                </span>
                <h6 class="color-blue-dark content">Blue Dark</h6>
                <div class="spacer"></div>
            </li>
            <li class="one-fifth-space spacer"></li>
            <li class="content-tree-item item">
                <span class="background-blue-darker color-icon icon">
                </span>
                <h6 class="color-blue-darker content">Blue Darker</h6>
                <div class="spacer"></div>
            </li>
        </ol>
    </main>
</section>
